.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
    font-weight: 400;
}

.heading {
    color:blue;
    font-style: oblique;
}

.nav-links {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: black;
}